
{% extends 'base.html' %}
{% load pagetag %}
{% block page-header %}
客户信息详细
{% endblock %}}

{% block page-content %}

    <form class="form-horizontal" method="post"> {% csrf_token %}
        {% for item in cust_info %}
          <div class="form-group">
            {% if item.field.required %}
              <label class="col-sm-2 control-label">*{{ item.label }}</label>
            {% else %}
                <label style="font-weight: normal" class="col-sm-2 control-label">{{ item.label }}</label>
            {% endif %}

            <div class="col-sm-10">
              {{ item }}
            </div>
          </div>
        {% endfor %}
        <div class="pull-right col-sm-pull-11">
            <button type="submit" class="btn btn-success">Save</button>
        </div>

    </form>
{% endblock %}}